@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Colors */
  --colors-dark-blue-gray: #666ca3;
  --colors-yankees-blue: #13183f;
  --colors-silver: #83869a;
  --colors-pink: #f74780;
  --colors-carnation-pink: #ffa7c3;
  --colors-white: #ffffff;
  --colors-g-magenta-orange: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --colors-g-magenta-blue: linear-gradient(
    180deg,
    #4851ff -54.32%,
    #f02aa6 100%
  );
  --colors-g-hover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  /* Fonts */
  --fonts-main: "Plus Jakarta Sans", sans-serif;
}

body {
  font-size: 16px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.01) 0%,
    rgba(198, 201, 218, 0.711922268907563) 100%
  );
}

.wrapper {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
header img {
  align-self: center;
}

.header-btn:hover {
  background-color: #83b0e1;
}

.header-btn,
.footer-btn,
.text-btn {
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  font-size: inherit;
  border: none;
  color: var(--colors-white);
  background-color: var(--colors-yankees-blue);
}

a {
  text-decoration: none;
}

a:hover {
  filter: grayscale(0.5);
  text-decoration: none;
}

.text-btn {
  margin-top: 30px;
  padding: 15px 35px;
  font-size: 14px;
  background: rgb(255, 111, 72);
  background: linear-gradient(
    180deg,
    rgba(255, 111, 72, 1) 6%,
    rgba(240, 42, 166, 1) 100%
  );
}

.main {
  background-color: transparent;
  margin-top: 20px;
  padding: 0px 20px;
  width: 90%;
  margin: 0 auto;
  /* max-width: 350px; */
}

.main p {
  margin-top: 20px;
  color: var(--colors-silver);
}

.main img {
  margin-top: 40px;
  margin-bottom: -20px;
  width: 100%;
  /* position: relative;
  object-fit: contain;
  top:0;
  transform: translateX(-40px);
  height: 100%; */
}

h1 {
  font-weight: 800;
  font-size: 37px;
}

.check-out {
  background: rgb(255, 111, 72);
  background: linear-gradient(
    180deg,
    rgba(255, 111, 72, 1) 6%,
    rgba(240, 42, 166, 1) 100%
  );
  color: white;
  min-height: 150px;
  max-height: 250px;
  padding: 20px 20px;
  border-radius: 10px;
  margin-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.courses {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
}

.course-course::before {
  display: block;
  position: relative;
  content: "";
  top: -47px;
  left: 0px;
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  margin-bottom: -25px;
}

.course-animation::before {
  background-image: url(/Silled-e-learning-Page/resources/icon-animation.svg);
}

.course-design::before {
  background-image: url(/Silled-e-learning-Page/resources/icon-design.svg);
}

.course-photography::before {
  background-image: url(/Silled-e-learning-Page/resources/icon-photography.svg);
}

.course-crypto::before {
  background-image: url(/Silled-e-learning-Page/resources/icon-crypto.svg);
}

.course-business::before {
  background-image: url(/Silled-e-learning-Page/resources/icon-business.svg);
}

.courses div {
  margin-top: 40px;
  /* min-height: 150px;
  max-height: 300px;*/
  max-width: 350px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: white;
}


.courses p {
  margin-top: 15px;
}

.courses :not(.check-out) p {
  color: var(--colors-silver);
  
}

.courses h3 {
  font-weight: 800;
}

.courses h3:nth-last-child(1) {
  color: #f74780;
  margin-top: 15px;
}

.courses img {
  margin-top: -40px;
}

footer {
  display: flex;
  background-color: #13183f;
  align-items: center;
  margin-top: 40px;
  height: 100px;
  margin-bottom: 0px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

footer img {
  align-self: center;
}

.footer-btn {
  background: #4851ff;
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

.footer-btn:hover {
  filter: grayscale(0.5);
}

@media screen and (min-width: 550px) {
  header {
    width: 85%;
    max-width: 650px;
  }
  .courses {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 650px;
  }

  .main {
    display: flex;
    max-height: 500px;
    overflow: hidden;
    max-width: 650px;
  }

  .main img {
    width: 200%;
    position: relative;
    left: -10px;
    transform: translateY(-205px);
    /* object-fit: contain; */
  }

  h1 {
    font-size: 30px;
    width: 80%;
  }
  .main p {
    font-size: 14px;
    width: 90%;
  }

  .check-out p {
    font-size: 20px;
    padding-top: 20px;
    height: auto;
  }

  .text {
    margin-top: 50px;
    max-height: 500px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-width: 650px;
    max-width: 650px;
  }
}

@media screen and (min-width: 970px) {
  header {
    max-width: 750px;
  }
  .wrapper {
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
  }

  .courses {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
    max-width: 750px;
  }

  footer {
    margin-top: -40px;
  }

  .check-out {
    box-sizing: content-box;
  }
  .check-out p {
    font-size: 25px;
    padding-top: 20px;
  }

  h1 {
    font-size: 35px;
  }

  .main {
    max-width: 750px;
    padding: 0px;
  }

  .main p {
    font-size: 17px;
  }

  .main img {
    width: 200%;
    position: relative;
    left: -35px;
    transform: translateY(-160px);
    /* object-fit: contain; */
  }

  .text {
    margin-top: 50px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-width: 750px;
    max-width: 750px;
  }
}
